.messenger {
  min-height: 800px;
  max-height: 800px;
  display: flex;
  overflow-y: hidden;
  margin-top: -50px;
}

.chatBox {
  flex: 9;
}

.chatOnline {
  flex: 3;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  
  height: 100%;
}
