.selected {
  background-color: hotpink;
  color: white;
}

.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.chatOnlineFriend:hover {
  background-color: lightpink;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

/* .new-messages {
  color: white;
  background-color: red;
  width: 20px;
  border-radius: 5px;
  text-align: center;
  float: right;
  margin-top: 10px;
} */
