.mobile-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-navbar {
	display: flex;
	flex-grow: 1;
	height: 72px;
	width: 100%;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	background-color: #822691ff;
	box-shadow: 0 0 1px 0 rgba(#342ead, 0.25), 0 15px 30px 0 rgba(#342ead, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
}

.icons {
	display: block;
	margin-bottom: 4px;
	font-size: 26px;
	color: #ffffff;
	transition: 0.25s ease;
}

.menu-item-label {
	display: block;
	font-size: 12px;
	color: #ffffff;
	transition: 0.25s ease;
}

.menu-item:hover .icons,
.menu-item:hover .menu-item-label,
.menu-item.active .icons,
.menu-item.active .menu-item-label {
  color: #F6B9FAff;
}