@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap");

.home-page {
  text-align: center;
  margin-top: 30vh;
}

/* .primary-title {
  font-size: 90px;
  color: #822691ff;
} */

.primary-title {
  font-size: 90px;
  font-family: sans-serif;
  background: linear-gradient(
      to right,
      #822691ff 0%,
      #6ff0f5ff 20%,
      #f6b9faff 61%
    ),
    linear-gradient(#f6b9faff 52%, rgb(224, 246, 255) 60%, #d2fba6ff 61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 2000ms ease alternate infinite;
  transition: all 0.4s ease;
}
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50vw 10px;
  }
}

/* --electric-blue: #6FF0F5ff;
--mindaro: #D2FBA6ff;
--mauve: #F6B9FAff;
--mauveine: #822691ff; */

.homepage-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  margin-top: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.homepage-button:hover {
  background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64));
}

@media (min-width: 768px) {
  /* styles for larger devices */
  .primary-title {
    font-size: 120px;
  }
}

@media (max-width: 767px) {
  /* styles for smaller devices */
  .primary-title {
    font-size: 60px;
  }
}
