.swipe-img {
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

button[aria-label="previous"],
button[aria-label="next"] {
  background: salmon !important;
  color: black !important;
}

.swipe-h2-firstname {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.swipe-h2-firstname:nth-of-type(2) {
  opacity: 0.7;
  font-size: 1.35rem;
}

.swipe-h2-bio {
  display: inline-block;
  margin-right: 10px;
  margin-top: -10px;
  margin-left: 10px;
}

.swipe-h2-bio:nth-of-type(2) {
  opacity: 0.7;
  font-size: 1.2rem;
}

h5 {
  margin-top: 5px;
  margin-left: 10px;
  color: lightgray;
}
h5:last-of-type {
  color: darkgray;
}

.card {
  max-width: 450px;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background-color: white;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.card > div {
  height: 380px !important;
}

.card {
  height: 500px !important;
}

.slider-control-bottomcenter {
  bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
}