@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');


/* variables */
:root {
  --main-colour: rgb(242, 172, 22);
  --placeholder-colour: rgb(130, 130, 130);
  --hover-colour: rgba(242, 172, 22, 0.735);
  --box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}

/* base styles */
body {
  font-family: Readex, sans-serif;
  margin: 0;
  font-size: 1.1em;
}

ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1.2em;
  color: var(--heading-color);
  display: inline-block;
}
.btn {
  background: rgb(0,0,255);
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--primary-color);
}
.btn:hover {
  color: #fff;
  background-color: rgb(0, 0, 185)
}

/* Styling Forms */

label {
  display: block;
  margin: 24px auto;
}

label span {
  display: block;
  margin-bottom: 6px;
}

input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

textarea {
  min-height: 160px;
}

.error {
  width: 100%;
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
}

.form {
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
  background: #fff;
}