.project-filter {
  margin: 50px auto;
}

.project-filter .filter-nav {
  display: flex;
  justify-content: start;
}

.project-filter nav {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: -20px;
}
.project-filter p {
  font-size: 0.9em;
  margin-right: 10px;
}
.project-filter button {
  background: transparent;
  border: 0;
  font-family: 'Readex', sans-serif;
  font-weight: 700;
  color: rgb(143, 143, 143);
  cursor: pointer;
  border-right: 1px solid #e4e4e4;
  font-size: 0.9em;
  z-index: 1;
}
.project-filter button:last-child {
  border: 0;
}
.project-filter button.active {
  color: rgba(255, 116, 255, 0.92);
} 

.slider-frame {
    width: auto;
    display: block;
}


@media only screen and (max-width: 600px) {
  .filter-nav {
    display: flex;
    flex-direction: column;
  }

  .filter-nav button {
    font-size: 12px;
    padding: 6px 12px;
    z-index: 1;
  }

  .project-filter {
    height: auto;
    margin-top: 0;
  }

  .MuiGrid-item {
    flex-basis: 100%;
    max-width: 100%;
  }

  .MuiCard-root {
    padding: 10px;
  }

  .MuiTypography-root {
    font-size: 14px;
  }
}